h1, h2 {
    color: #4CAF50;
}

#test {
    width: 1250px;
overflow: hidden;
margin: 0 auto 0 auto;
padding: 0 24px 20px 20px;
background: #FFF;
}

#test2
{
width: 1250px;
padding: 0;
}

table, th, td 
{
border: 1px solid black;
}

#header {
  background: #4CAF50;
width: 1250px;
overflow: hidden;
margin: 0 auto 0 auto;
padding: 0 24px 20px 20px;
}


#logo {
  display: inline-flex;
align-items: center;
  width: 400px;
height: 125px;
}

#logo h1 {
  font-size: 40;
position: relative;
left: 20px;
color: black;
}




body {
background-color: #4CAF50;
font-family: 'Arial';
}

.navbar {
overflow: hidden;
background-color: #333;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: #4CAF50;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
/*End dropdown*/



#footer
{ width: 1250px;
font: normal 100% 'lucida sans unicode', arial, sans-serif;
height: 33px;
padding: 24px 0 5px 0;
text-align: center; 
background: transparent;
color: black;
text-transform: uppercase;
letter-spacing: 0.1em;
  margin-left: auto; 
margin-right: auto;}

table,
th,
td {
padding: 10px;
border: 1px solid black;
border-collapse: collapse;
}